.blockWithoutImg {
  &__Block {
    display: flex;
    flex-direction: column;
    &:hover {
      background-color: $grey5;
    }
    &:first-child {
      margin-top: 40px;
    }
    &:not(:last-child) {
      border-bottom: 1px solid $grey4;
      padding-bottom: 35px;
      margin-bottom: 40px;
    }
    &Title {
      display: block;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.25px;
      margin-bottom: 10px;
    }
    &Text {
      display: block;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.4px;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 1023px) {
  .blockWithoutImg {
    &__Block {
      &:first-child {
        margin-top: 20px;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $grey4;
        padding-bottom: 15px;
        margin-bottom: 20px;
      }
      &Title {
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
      }
      &Text {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 767px) {
  .blockWithoutImg {
    &__Block {
      &Title, &Text {
        font-size: 11px;
        line-height: 13px;
      }
    }
  }
}