.breadcrumbs {
  margin-bottom: 20px;
  a, span {
    color: black;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
  }
}

@media (max-width: 1023px) {
  .breadcrumbs {
    a, span {
      font-size: 10px;
      line-height: 16px;
    }
  }
}