.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $main-color;
  color: white;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;

}

.button:not(.buttonWhite) {
  &:hover {
    border: 2px solid $main-color;
    background-color: white;
    color: $main-color;
  }
}

.buttonWhite {
  color: $brown3;
  background-color: $grey5;
  width: max-content;
  padding: 7px 25px;
}

@media (max-width: 1023px) {
  .button {
    font-size: 7px;
  }
  .buttonWhite {
    padding: 3px 10px;
  }
}