.header {
  &__container {
    height: 180px;
    &.expanded {
      .header__hidden {
        bottom: 0;
      }

    }
  }
  &__top {
    background: url('img/header.jpg') no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
    position: relative;
    z-index: 3;
    &Spec {
      position: absolute;
      height: 100%;
      background-color: $secondary-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      left: 20px;
      width: 23px;
      > span {
        font-size: 14px;
        text-transform: uppercase;
        transform: rotate(180deg);
        writing-mode: vertical-lr;
        color: white;
      }
    }
    &TextHidden {
      display: none;
    }
    &Text {
      position: absolute;
      display: flex;
      flex-direction: column;
      left: 10vw;
      max-width: 500px;
      bottom: 20px;
      .headerHiddenLink {
        display: none;
      }
    }
    &Title {
      color: #fff;
      font-family: 'Inter',sans-serif;
      font-size: 4rem;
      font-weight: 900;
      line-height: 4.3rem;
    }
    &Buttons {
      position: absolute;
      right: 15px;
      top: 0;
      display: flex;
      span {
        cursor: pointer;
        font-weight: bold;
        align-items: center;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 16px;
        padding: 7px 20px 12px 20px;
        &:before {
          position: relative;
          margin-right: 5px;
          top: 5px;
          width: 20px;
          height: 20px;
          display: inline-block;
        }
      }
      span:first-child {
        background-color: $secondary-color;
        &:before {
          content:'';
          width: 20px;
          height: 20px;
          background: url('svg/assets/info.svg') no-repeat;
          background-size: cover;
        }
      }
      span:last-child {
        background-color: $grey5;
        color: #C6C6C6;
        &:before {
          content:'';
          width: 20px;
          height: 20px;
          background: url('svg/assets/close.svg') no-repeat;
          background-size: cover;
        }
      }
    }
    &ButtonsHidden {
      display: none;
    }
    .container {
      height: 100%;
      position: relative;
    }
  }

  &__container.collapsed {
    height: 50px;
    .header__hidden {
      display: none;
    }
    .header__top {
      position: relative;
      height: 0;
      background: linear-gradient(180deg, #FFB240 0%, #FF9900 76.04%);
      &Spec {
        opacity: 0;
      }
      &Text {
        left: 15px;
        bottom: 15px;
        max-width: unset;
        .headerHiddenLink {
          display: flex;
          color: black;
          font-size: 10px;
          line-height: 16px;
          align-items: center;
          letter-spacing: 1.5px;
          font-weight: bold;
          text-transform: uppercase;
          text-decoration: none;
          &:before {
            content:'';
            width: 20px;
            height: 20px;
            background: url('svg/assets/info.svg') no-repeat;
            background-size: cover;
            margin-right: 10px;
          }
        }
        .header__topTitle {
          display: none;
        }
      }
      &Buttons {
        display: none;
      }
      &ButtonsHidden {
        cursor: pointer;
        margin-top: 15px;
        display: flex;
        position: absolute;
        right: 0;
        margin-right: 15px;
        span {
          display: flex;
          font-weight: bold;
          font-size: 10px;
          line-height: 16px;
          align-items: center;
          text-align: right;
          letter-spacing: 1.5px;
          color: $grey5;
          text-transform: uppercase;
          &:before {
            margin-right: 10px;
            content:'';
            width: 20px;
            background-size: cover;
            height: 10px;
            background: url('svg/assets/arrowToggle2.svg') no-repeat;
          }
        }
      }
      &.two {
        background: $brown3;
      }
      &.one {
        background: $main-color;
      }
      &.release {
        transition: .3s;
        height: 50px;
      }
    }
  }
  &__hidden {
    position: relative;
    z-index: 1;
    bottom: 500px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.15);
    > div {
      position: relative;
      padding: 30px 15px;
      display: flex;
      justify-content: space-between;
    }
    p {
      margin: 0 10vw;
      font-size: 12px;
      line-height: 16px;
      align-items: center;
      letter-spacing: 0.4px;
      a {
        font-size: 12px;
        line-height: 16px;
        color: $main-color;
        text-decoration: underline;
      }
    }
    &Button {
      max-height: 44px;
      display: flex;
      align-items: center;
      text-align: center;
      padding: 13px 40px;
      font-weight: bold;
      font-size: 10px;
      line-height: 16px;
      text-decoration: none;
      color: white;
      background-color: $main-color;
    }
  }
}

@media (max-width: 1280px) {
  .header {
    &__topButtons {
      margin-right: 10px;
    }
  }
}

@media (max-width: 1023px) {
  .header {
    &__container {
      height: 110px;
      margin-bottom: 30px;
      &.collapsed {
        .header__top {
          &Text {
            left: 40px;
          }
          &ButtonsHidden {
            margin-right: 40px;
          }
        }
      }
    }
    &__top {
      &Spec {
        display: none;
      }
      &Text {
        max-width: 350px;
        bottom: 3px;
      }
      &Title {
        font-size: 4rem;
        line-height: 4rem;
      }
    }
  }
}

@media (max-width: 576px) {
  .header {
    &__container {
      height: 92px;
      margin-bottom: 65px;
      &.collapsed {
        .header__topButtons {
          display: none;
        }
        .header__topText {
          left: 20px;
        }
        .header__topButtonsHidden span {
          font-size: 7px;
        }
        .header__topButtonsHidden {
          margin-right: 20px;
        }
      }
    }
    &__top {
      &Text {
        left: 20px;
        max-width: 320px;
      }
      &Title {
        font-size: 2.5rem;
        line-height: 3rem;
      }
      &Buttons {
        display: flex;
        left: 0;
        width: 100%;
        top: 100%;
        > span:first-child {
          flex: 0 0 55%;
        }
        > span:last-child {
          flex: 0 0 45%;
        }
      }
    }
    &__hidden {
      .container {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      p {
        margin: 15px 0;
      }
      &Button {
        max-width: max-content;
      }
    }
  }
}

@media (max-width: 330px) {
  .header {
    &__container {
      &.collapsed {
        .header__topText {
          left: 5px;
        }
        .header__topButtonsHidden {
          margin-right: 5px;
        }
      }
    }
    &__top {
      &Text {
        left: 5px;
      }
    }
  }
}