.horizontalBar {
  > div {
    padding-bottom: 10px;
    margin-bottom: 10px;
    > a, > div {
      display: flex;
      flex-direction: row;
   }
    span {
      font-weight: 500;
      display: flex;
      align-items: center;
    }
  }
  &__Right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    > span {
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      display: flex;
      align-items: center;
    }
    .horizontalBar__RightTitle {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.25px;
    }
    .horizontalBar__RightText {
      letter-spacing: 0.4px;
    }
  }
   > div:last-child {
    margin-bottom: 0 !important;
     padding-bottom: 0;
  }
  .horizontalBarFirst {
    position: relative;
    flex: 0 0 33%;
    margin-right: 2%;
  }
}

.horizontalBar.textCenter {
  .horizontalBar__Right {
    justify-content: center;
  }
}

.horizontalBar.textAround {
  .horizontalBar__Right {
    justify-content: space-around;
  }
}

.firstBig.horizontalBar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  > .verticalBlock {
    .horizontalBar__RightText {
      font-size: 10px;
      padding-bottom: 15px;
      border-bottom: 1px solid $grey4;
    }
    margin: 0;
    padding: 0;
    grid-row-start: 1;
    grid-row-end: 6;
    > a {
      flex-direction: column;
    }
  }
  > div:not(:first-child) {
    .horizontalBarFirst {
      flex: 0 0 22.4%;
      padding-top: 17.3%;
    }
    .horizontalBar__Right {
      justify-content: space-around;
      &Title {
        font-size: 10px;
        line-height: 16px;
        font-weight: normal;
      }
    }
  }
}

.firstBorder.horizontalBar {
  > div {
    padding: 15px 15px 20px 15px;
  }
  > div:first-of-type {
    border: 1px solid $grey4;
  }
  > div:not(:first-of-type) {
    border-bottom: 1px solid $grey4;
  }
  > div:last-of-type {
    border-bottom: none;
    padding-bottom: 15px;
  }
  .horizontalBar__Right {
    gap: 15px;
    &Title {
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
    }
  }
}



@media (max-width: 1023px) {
  .horizontalBar {
    &__Right > span {
      font-size: 8px !important;
      line-height: 10px !important;
    }
    .horizontalBar__RightTitle {
      font-size: 10px !important;
      line-height: 20px !important;
    }
    .horizontalBar__RightText {
      font-size: 7px !important;
      line-height: 16px !important;
    }
  }

  .firstBig.horizontalBar {
    grid-template-columns: 1fr;
    > .verticalBlock {
      margin-bottom: 20px;
      > a {
        display: grid;
        grid-template-columns: .77fr 1fr;
        flex: 0 0 100%;
        .imgBlock {
          margin-bottom: 0;
        }
      }
      .verticalBlockBlock {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 0;
      }
      .verticalBlockTitle {
        font-weight: 600;
        font-size: 10px;
        line-height: 15px;
      }
      .verticalBlockText {
        font-size: 9px;
        line-height: 16px;
      }
      .dateAndViews {
        padding-top: 5px;
        border-top: 1px solid $grey4;
      }
    }

  }
}

@media (max-width: 767px) {
  .horizontalBar {
    .horizontalBar__RightTitle {
      font-size: 9px !important;
    }
    div:last-child {
      border: none;
      padding-bottom: 0;
    }
    > div {
      span {
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  .horizontalBar.textAround {
    .horizontalBar__Right {
      justify-content: center;
      gap: 10px;
    }
  }

  .firstBig.horizontalBar {
    .verticalBlock {
      display: block;
      .verticalBlockBlock {
        padding: 20px 20px 0 20px;
      }
      > a {
        grid-template-columns: 1fr;
      }
    }
    > div:not(:first-child) {
      .horizontalBar__Right {
        &Title {
          font-weight: 600;
        }
        .dateAndViews {
          flex-direction: column;
          .views {
            order: 2;
          }
          .category {
            order: 1;
            align-self: flex-start;
          }
        }
      }
    }
  }
}