.inTrend {
  &__block {
    display: grid;
    grid-template-columns: 5fr 5fr 3fr;
    column-gap: 20px;
    .blockWithoutImg__Block:not(:last-child) {
      margin: 0 0 15px 0;
      padding: 0 0 15px 0;
    }
  }
}

@media (max-width: 1023px) {
  .inTrend {
    &__block {
      row-gap: 45px;
      grid-template-columns: 1fr 1fr;
      .foxyFBlock {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
  }
}
@media (max-width: 767px) {
  .inTrend {
    &__block {
      grid-template-columns: 1fr;
      .foxyFBlock {
        grid-column-start: 1;
        grid-column-end: 2;
      }
      .blockWithoutImg:nth-child(2) {
        display: none;
      }
    }
  }
}