.inTrend {
  &__block {
    display: grid;
    grid-template-columns: 5fr 5fr 3fr;
    column-gap: 20px;
    .blockWithoutImg__Block:not(:last-child) {
      margin: 0 0 15px 0;
      padding: 0 0 15px 0;
    }
    &Foxy {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      > div:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 1023px) {
  .inTrend {
    &__block {
      row-gap: 45px;
      grid-template-columns: 1fr 1fr;
      &Foxy {
        grid-column-start: 1;
        grid-column-end: 3;
        display: grid;
        column-gap: 3%;
        justify-content: space-between;
        grid-template-columns: repeat(auto-fill, 30%);
        .foxyF {
          margin: 0 !important;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .inTrend {
    &__block {
      grid-template-columns: 1fr;
      &Foxy {
        grid-column-start: 1;
        grid-column-end: 2;
        row-gap: 15px;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-between;
      }
      .blockWithoutImg:nth-child(2) {
        display: none;
      }
    }
  }
}