.inTrend {
  &__block {
    display: grid;
    grid-template-columns: 10fr 3fr;
    column-gap: 20px;
    .blockWithoutImg {
      display: grid;
      grid-template-columns: 5fr 5fr;
      column-gap: 20px;
    }
    .blockWithoutImg__Block:not(:nth-child(n+5)) {
      margin: 0 0 15px 0;
      padding: 0 0 15px 0;
    }
    .blockWithoutImg__Block:nth-child(n+5) {
      margin: 0;
      padding: 0;
      border: none;
    }
  }
}

@media (max-width: 1023px) {
  .inTrend {
    &__block {
      row-gap: 45px;
      grid-template-columns: 1fr;
      .foxyFBlock {
        grid-column-start: 1;
        grid-column-end: 2;
      }
    }
  }
}

@media (max-width: 767px) {
  .inTrend {
    &__block {
      .blockWithoutImg {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;

      }

      .blockWithoutImg__Block:nth-child(3) {
        margin: 0;
      }
      .blockWithoutImg__Block:nth-child(n+4) {
        display: none;
      }
    }
  }
}