.page404 {
  &__top {
    display: grid;
    column-gap: 25px;
    grid-template:
    "title foxy"
    "error foxy"
    /1fr 300px
  ;
    .h2Title {
      grid-area: title;
      align-self: flex-start;
    }
    &Error {
      grid-area: error;
      span {
        display: block;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 45px;
        color: #545454;
      }
      .search {
        padding: 15px 15px 10px 15px;
        border: 1px solid #C4C4C4;
        input {
          color: black;
          font-size: 12px;
          width: 100%;
        }
      }
    }
    .foxyA {
      grid-area: foxy;
    }
  }
  &__news {
    margin-top: 40px;
    display: grid;
    column-gap: 25px;
    grid-template-columns: 1fr 300px;
    &Left {
      .loadmore {
        margin-top: 30px;
        margin-left: 25%;
      }
    }
    &Sidebar {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
  }
  .inTrend {
    margin-top: 30px;
  }
}

@media (max-width: 1023px) {
  .page404 {
    &__top {
      grid-template-columns: 1fr 160px;
    }
    &__news {
      grid-template-columns: 1fr 160px;
    }
  }
}

@media (max-width: 767px) {
  .page404 {
    &__top {
      row-gap: 30px;
      grid-template:
    "title"
    "error"
    "foxy"
    /1fr
    ;
    }
    &__news {
      row-gap: 30px;
      grid-template-columns: 1fr;
      &Left {
        .loadmore {
          margin-left: 0;
        }
      }
      &Sidebar {
        .sidebarNewMag {
          order: 3;
        }
      }
    }
  }
}