.part2 {
  margin-top: 40px;
  display: grid;
  row-gap: 30px;
  column-gap: 20px;
  grid-template:
  "title title"
  "left foxy"
  /9fr 3fr;

  .h2Title {
    margin: 0;
    grid-area: title;
  }
  &__left {
    grid-area: left;
    display: flex;
  }
  &__foxy {
    grid-area: foxy;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    > div:first-child {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 1023px) {
  .part2 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .part2 {
    margin-top: 40px;
    grid-template:
    "foxy"
    "title"
    "left"
    /1fr;
    &__left {
      flex-direction: column;
    }
  }
}