.part3 {
  margin-top: 40px;
  display: grid;
  column-gap: 20px;
  grid-template-columns: 9fr 3fr;
  .horizontalBar {
    display: grid;
    column-gap: 40px;
    row-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    > div {
      padding: 0;
      margin: 0;
      > div {
        .horizontalBarFirst {
          flex: 0 0 28%;
          padding-top: 20.6%;
        }

      }
    }
    .dateAndViews {
      justify-content: flex-start;
    }
  &__Right {
    a {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.25px;
    }
  }
  }
  .foxy {
    justify-self: flex-end;
  }
  .h2Title {
    margin-bottom: 40px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (max-width: 576px) {
  .part3 {
    grid-template-columns: repeat(1, 1fr);
    .horizontalBar {
      grid-template-columns: repeat(1, 1fr);
      > div:nth-child(n + 4) {
        display: none;
      }
      > div > div .horizontalBar__Right {
        justify-content: space-around;
      }
      .dateAndViews {
        padding: 0;
      }
    }
    .h2Title {
      grid-column-end: 2;
    }
    .foxy {
      margin-top: 40px;
    }
  }
}