.popular {
  .h2Title {
    margin-bottom: 20px;
  }
  .horizontalBar {
    > div {
      > div {
        background-color: $grey5;
        .horizontalBarFirst {
          flex: 0 0 29%;
          padding-top: 21.6%;
        }
      }
    }
    &__Right {
     > a {
       font-weight: 600;
       font-size: 14px;
       line-height: 20px;
       letter-spacing: 0.25px;
       margin-bottom: 10px;
     }
    }
  }
  &__hidden {
    margin-bottom: 20px;
    padding: 10px 0;
    cursor: pointer;
    display: none;
    justify-content: space-between;
    span {
      font-weight: bold;
      font-size: 10px;
      line-height: 10px;
      color: $main-color;
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }
    span:last-child {
      content: url("../../svg/assets/arrowDown.svg");
      transform: scale(1, -1);
    }
    .popular__hiddenUnvis {
      display: none;
    }
  }
  &.open {
    .popular__hiddenUnvis {
      display: block;
    }
    .popular__hiddenVis {
      display: none;
    }
    span:last-child {
      transform: scale(1, 1);
    }
    .horizontalBar {
      display: none;
    }
  }
}