.popular {
  .h2Title {
    margin-bottom: 20px;
  }
  .horizontalBar {
    > div {
      > div {
        background-color: $grey5;
        .horizontalBarFirst {
          flex: 0 0 29%;
          padding-top: 21.6%;
        }
      }
    }
    &__Right {
     > a {
       font-weight: 600;
       font-size: 14px;
       line-height: 20px;
       letter-spacing: 0.25px;
     }
    }
  }
  &__hidden {
    margin-bottom: 20px;
    padding: 10px 0;
    cursor: pointer;
    display: none;
    justify-content: space-between;
    span {
      font-weight: bold;
      font-size: 10px;
      line-height: 10px;
      color: $main-color;
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }
    span:first-child {
      &:after {
        content: url("svg/assets/arrowDown.svg");
        transform: scale(1, 1);
      }
    }
    .popular__hiddenUnvis {
      display: none;
      &:after {
        content: url("svg/assets/arrowDown.svg");
        transform: scale(1, -1);
      }
    }
  }
  &.open {
    .popular__hiddenUnvis {
      display: block;
    }
    .popular__hiddenVis {
      display: none;
    }
    span:last-child {
      transform: scale(1, 1);
    }
    .horizontalBar {
      display: none;
    }
  }
}
.journal__block1LeftTop {
  .popular {
    .horizontalBar {
      &__Right {
        > a {
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .popular {
    .horizontalBar {
      &__Right {
        > a {
          font-size: 11px;
          line-height: 13px;
        }
      }
    }
  }
  .journal__block1LeftTop {
    .popular {
      .horizontalBar {
        &__Right {
          > a {
            font-size: 11px !important;
            line-height: 13px !important;
          }
        }
      }
    }
  }
}