.rubric {
  display: flex;
  flex-direction: column;
  //gap: 25px;
  > div {
    margin-bottom: 25px;
  }
  &__top{
    display: grid;
    column-gap: 30px;
    row-gap: 25px;
    grid-template:
    "title sidebar"
    "left sidebar"
    /1fr 300px
  ;
    > .h2Title {
      grid-area: title;
      margin-bottom: 0;
    }
    &Left {
      grid-area: left;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      .horizontalBarFirst {
        flex: 0 0 23%;
        padding-top: 17%;
      }
      .loadmore {
        margin-left: 25%;
      }
    }
    &Sidebar {
      grid-area: sidebar;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
  }
  .slider {
    margin-bottom: 60px;
    .h2Title {
      margin-bottom: 20px;
    }
  }
  &__block1 {
    display: grid;
    gap: 25px;
    grid-template-columns: 9fr 3fr;
    .verticalBlock {
      margin: 0;
      background-color: transparent;
    }
    &Foxy {
      justify-self: flex-end;
    }
  }
  &__block2 {
    margin-top: 25px;
    .part3:first-child {
      margin-top: 0;
      .horizontalBarFirst {
        flex: 0 0 34%;
        padding-top: 26.6%;
      }
    }
  }

}

@media (max-width: 1023px) {
  .rubric {
    &__top {
      grid-template:
    "title sidebar"
    "left sidebar"
    /1fr 160px
    ;
      &Left {
        grid-area: left;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        .horizontalBarFirst {
          flex: 0 0 27%;
          padding-top: 19.6%;
        }
        .loadmore {
          margin-left: 0;
        }
      }
    }
    &__block1 {
      grid-template-columns: 1fr 160px;

    }
  }
}
@media (max-width: 767px) {
  .rubric {
    &__top {
      grid-template:
        "title"
        "left "
        "sidebar"
        /1fr
        ;
      .horizontalBar__RightText {
        display: none;
      }
      &Sidebar {
        .sidebarNewMag {
          display: none;
        }
        .sidebarNews {
          display: none;
        }
      }
    }
    &__block1 {
      grid-template-columns: 1fr;
      &Foxy {
        justify-self: center;
      }
    }
    &__block2 {
      .part3:first-child {
        .horizontalBarFirst {
          flex: 0 0 28%;
          padding-top: 20.6%;
        }
      }
    }
  }
}