.sidebarNews {
  .horizontalBar {
    > div {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    > div:last-of-type {
      border: none;
    }
    &First {
      flex: 0 0 32%;
      padding-top: 23.6%;
    }
    &__Right{
      justify-content: center;
    }
  }
  .dateAndViews {
    //padding-left: 35%;
    //margin-top: 8px;
    justify-content: space-between;
    .date, .category {
      margin-right: 0;
    }
  }
}

@media (max-width: 1023px) {
  .sidebarNews {
    .horizontalBar {
      &First{
          display: none;
      }
    }
  }
}

@media (max-width: 767px) {
  .sidebarNews {
    .horizontalBar {
      &__Right{
        span {
          line-height: 12px !important;
        }
      }
      &First{
        display: unset;
      }
    }
  }
}
