.slider {
  min-width: 0;
  overflow: hidden;
  &__hand {
    display: none;
  }
  &__scrollbar {
    margin-top: 25px;
    height: 7px;
    .swiper-scrollbar-drag {
      position: relative;
      &:after {
        background-image: url("svg/assets/SliderDrag.svg");
        content: '';
        position: absolute;
        top: 30%;
        left: 50%;
        width: 5px;
        height: 5px;
      }
      border-radius: 0;
      background-color: $brown3;
    }
  }
}
.sliderBigOne {
  &__title {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    display: block;
    margin-bottom: 15px;
  }
  .dateAndViews {
    justify-content: space-between;
    .category {
      margin: 0;
    }
  }

}

.sliderBackground {
  position: relative;
  &__Small {
    overflow: hidden;
    transition: background-color 0.3s ease-in;
    .imgBlock {
      &:before {
        transition: background-color 0.3s ease-in;
        content: '';
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 1.04%, rgba(0, 0, 0, 0.51) 70.31%);
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        z-index: 2;
      }
      z-index: 1;
      margin: 0;
    }
    &Text {
      padding: 20px 20% 20px 25px;
      z-index: 3;
      color: white;
      bottom: 0;
      position: absolute;
      &Title  {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        display: block;
        letter-spacing: 0.25px;
        color: white;
      }
      .dateAndViews {
        margin-top: 15px;
        span, a {
          color: white;
        }
      }
    }
    &Hidden {
      z-index: 3;
      padding: 0 10% 10px 25px;
      position: absolute;
      bottom: -500px;
      display: block;
      margin-top: 25px;
      margin-right: -15px;
      span, p {
        margin-bottom: 5px;
        display: block;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.4px;
        color: $grey4;
      }
    }
    .button {
      margin-top: 20px;
      display: block;
    }
  }
  &__Small.effectInclude:hover {
    .imgBlock:before {
      background: linear-gradient(0deg, rgba(158, 107, 54, 0.79), rgba(158, 107, 54, 0.79));
    }

    .sliderBackground__SmallText {
      bottom: 50%;
      &Title {
        margin-bottom: 10px;
      }
    }
    .sliderBackground__SmallHidden {
      bottom: 0;
    }
  }
}


@media (max-width: 1023px) {
  .sliderBackground {
    &__Small {
      &Text {
        padding: 20px 10% 20px 25px;

        &Title {
          font-size: 8px;
          line-height: 10px;
        }
      }

      &Hidden {
        padding: 20px 10% 20px 25px;
        margin-top: 10px;

        span {
          font-size: 7px;
          line-height: 10px;
        }
      }
    }
  }
  .sliderBigOne {
    &__title {
      font-size: 8px;
      line-height: 14px;
    }
  }
}

@media (max-width: 767px) {
  .slider {
    &__hand{
      display: block;
      margin-bottom: 20px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  .sliderBackground {
    &__Small {
      &Text {
        &Title {
          padding: 0;
          font-size: 9px;
          line-height: 12px;
        }
      }
      &Hidden {
        padding: 10px 15px;
      }
    }
  }
  .sliderBigOne {
    &__title {
      font-size: 10px;
      line-height: 14px;
    }
  }
}