.socialMedia {
  max-width: calc(5 * 20px + 25px);
  max-height: 80px;
  display: flex;
  align-content: center;
  > a {
    min-width: 20px;
    padding: 3px;
    cursor: pointer;
    margin: auto;
    height: max-content;
    display: flex;
    background-color: $main-color;
    max-width: 20px;
    max-height: 20px;
    &:hover {
      background-color: $brown3;
    }
  }
  svg {
    //color: $main-color;
    //width: 100%;

    &:hover {
      //color: $brown3;
    }
    &:active {
      //color: $active-color;
    }
  }
}
