// USER VARIABLES SECTION

$main-color: #9e6b36;
$brown2: #ae8962;
$brown3: #b1987d;
$grey1: #6F6F6F;
$grey2: #878787;
$grey3: #A8A8A8;
$grey4: #E5E5E5;
$grey5: #fafafa;
$secondary-color: #ff8b00;

$font-size: 16px;
$line-height: 24px;
$userfont: Inter, sans-serif;


// GENERAL DOCUMENT STYLES

body {
  margin: 0;
  position: relative;
  color: black;
}

*{
  transition-duration: .5s;
  font-size: $font-size;
  font-family: $userfont;
  line-height: $line-height;
  letter-spacing: 0.44px;
  font-weight: 400;
}

@media (max-width: 1023px) {
  * {
    font-size: 12px;
    line-height: 20px;
  }
}
@media (max-width: 730px) {
  * {
    font-size: 18px;
    line-height: 27px;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}