.MWRBody {
  background: url("../img/mwrBack.png") top -7vw right -20vw / 40vw no-repeat,
  url("../img/mwr2021.png") top 70% right -25% / 40% no-repeat;
  transition-duration: 0s;
  footer {
    margin-top: 0;
  }
  .spec {
    &__block1 {
      grid-template: unset;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      * {
        grid-area: unset !important;
      }
    }
    &__block2 {
      &BlocksSingleWrapper {
        .imgBlock:before {
          content: none;
        }
      }
    }
    &__block4 {
      .sliderBackground__SmallHidden {
        padding-bottom: 25px;
      }
      &__content {
        grid-template-columns: 1fr 300px;
      }
      .loadmoreSpec {
        display: flex;
        margin-top: 0;
      }

    }
  }

  .MWR_posts {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 300px;
    .h2Title {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .loadmoreSpec {
      grid-column-start: 1;
      grid-column-end: 2;
    }
    &__foxy {
      .foxy:first-child {
        margin-bottom: 20px;
      }
    }
  }

  .specialForMWR.before {
    .horizontalBarFirst {
      padding-top: 31.6%;
      flex: 0 0 42%;
    }
    .part8__wrapperLeftTop {
      .horizontalBar{
        > div {
          a {
            height: 100%;
          }
        }
      }
    }
  }
  .part8 {
    margin-top: 0;
  }
  .specialForMWR {
    .part8__wrapperLeftTop {
      height: 100%;
      .horizontalBar{
        height: 100%;
        > div {
          height: 100%;
          a {
            height: 80%;
          }
        }
      }
    }
    .horizontalBarFirst {
      flex: 0 0 69%;
    }
    .horizontalBar__RightTitle {
      font-size: 24px;
      line-height: 32px;
    }
  }
  .part3 {
    .loadmoreSpec {
      grid-column-start: 1;
    }
  }
}

.mwrWrapper {
  background: url("../img/mwrBack.png") bottom -20vw left -20vw / 40vw no-repeat;
  padding-bottom: 50px;
}

.bottomFixedBlock {
  position: fixed;
  bottom: 0;
  z-index: 3;
  background-color: white;
  width: 100%;
  display: none;
  padding: 3vh 0;
  opacity: 0;
  &.visible {
    opacity: 1;
  }
  a {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 180%;
    justify-content: center;
    width: 100%;
  }
  img {
    margin-right: 15px;
    flex: 0 0 50px;
    max-width: 50px;
  }
  svg {
    margin-top: 3px;
  }
  &__collapse {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    top: 0;
    z-index: 4;
    right: 0;
    padding: 5px 10px;
    color: #C6C6C6;
    font-weight: bold;
    font-size: 10px;
    &:before {
      position: relative;
      top: -2px;
      margin-right: 5px;
      content: '';
      width: 20px;
      height: 20px;
      background: url("../svg/assets/close.svg") no-repeat;
      background-size: cover;
      display: inline-block;
    }
  }
  &.hidden {
    bottom: -100%;
  }
}


.shieldMWR {
  display: grid;
  grid-template-columns: 26px 1fr;
  align-items: center;
  h1, a {
    margin-left: 10px;
  }
  img {
    width: 100%;
  }
}

.MWRBanner {
  max-width: 960px;
}

.header__botBottomMenu {
  > li:first-child {
    a:after {
      content: '';
      border: 3px solid #ff8b00;
      border-radius: 50%;
      display: inline-block;
      margin-bottom: 10px;
      margin-left: 2px;
    }
  }
}

.single__content.mwrInc {
  grid-template:
  "mwrBanner mwrBanner sidebar"
  "left sticky sidebar"
  ". . sidebar"
  "comments comments comments"
  /650px 2.5fr 300px;
  .foxyFull {
    margin-top: 0;
    align-self: flex-start;
    grid-area: mwrBanner;
  }
}

@media (max-width: 1279px) {
  .single__content.mwrInc {
    grid-template-columns:5fr 2.5fr 300px;
  }
}

@media (max-width: 1023px) {
  .single__content.mwrInc {
    grid-template:
      "mwrBanner sidebar"
      "left sidebar"
      "foxyLong foxyLong"
      "comments comments"
      /1fr 160px;
  }
  .mwrWrapper {
    .part8.block2 {
      .part8__wrapper {
        grid-template-columns: 1fr 160px;
        &Foxy {
          grid-template-columns: unset;
          align-items: flex-start;
        }
      }
    }
    .MWR_posts {
      grid-template-columns: 1fr 160px;
    }
    .spec__block4 {
      &__content {
        grid-template-columns: 1fr 160px;
        .foxyFBlock {
          grid-template-columns: 100%;
          align-items: flex-start;
        }
      }
    }
    .inTrend {
      &__block {
        .foxyFBlock {
          grid-row-start: 3;
          grid-row-end: 4;
        }
      }
    }
    .rubric__block1 {
      .foxyFBlock {
        grid-template-columns: 1fr;
        align-items: flex-start;
        align-content: flex-start;
      }
    }
    .specialForMWR {
      .part8__wrapperLeftTop {
        .horizontalBar{
          > div {
            a {
              height: 100%;
            }
          }
        }
      }
      .part8__wrapper {
        grid-template-columns: 1fr 160px;
        &Foxy {
          grid-template-columns: 1fr;
          margin-top: 0;
          gap: 3%;
        }
      }
    }
  }

}

@media (max-width: 767px) {
  .bottomFixedBlock {
    a {
      font-size: 85%;
    }
    &__collapse {
      top: unset;
      bottom: 0;
    }
  }
  .single__content.mwrInc {
    grid-template:
      "mwrBanner"
      "left"
      "foxyLong"
      "comments"
      "sidebar"
      /1fr
  ;
  }
  .mwrWrapper {
    .MWRBanner {
      margin-top: 0;
    }
    .part8.block2 {
      .loadmoreSpec {
        grid-row-start: 2;
        grid-row-end: 3;
      }
      .part8__wrapper {
        grid-template-columns: 1fr;
        &Foxy {
          justify-content: center;
        }
      }
    }
    .MWR_posts {
      grid-template-columns: 1fr;
      .horizontalBar__RightText {
        display: none;
      }
      .loadmoreSpec {
        grid-row-start: 3;
        grid-row-end: 4;
      }
      .h2Title {
        grid-column-end: 2;
      }
    }
    .spec__block4 {
      .swiper-slide {
        margin-right: 0 !important;
        &:nth-child(even) {
          .imgBlock:before {
            background: rgba(black, .79);
          }
        }
      }
      &__content {
        grid-template-columns: 1fr;
        .loadmoreSpec {
          grid-row-start: 2;
          grid-row-end: 3;
        }
      }
      .imgBlock:before {
        background: linear-gradient(0deg, rgba(158, 107, 54, 0.79), rgba(158, 107, 54, 0.79));
      }
      .sliderBackground__SmallText {
        bottom: 50%;
        &Title {
          margin-bottom: 10px;
        }
      }
      .sliderBackground__SmallHidden {
        bottom: 0;
      }
    }
    .inTrend {
      &__block {
        .blockWithoutImg__Block:nth-last-child(-n+2) {
          margin: 0 0 15px 0;
          padding: 0 0 15px 0;
          border-bottom: 1px solid #E5E5E5;
        }
        .blockWithoutImg__Block:nth-last-child(-n+1) {
          margin: 0;
          padding: 0;
          border: none;
        }
        .blockWithoutImg__Block:nth-child(3) {
          margin: 0 0 15px 0;
        }
        .blockWithoutImg__Block:nth-child(n+4) {
          display: flex;
        }
      }
    }
    .specialForMWR {
      .part8__wrapper {
        grid-template-columns: 1fr ;
      }
      &.before .horizontalBarFirst {
        padding-top: 74.6%;
      }
    }
    .part3{
      .loadmoreSpec {
        grid-row-start: 3;
        grid-row-end: 4;
      }
    }
  }

}